<div class="container mt40">
  <h2 class="text-success">Simplify your links</h2>
  <div class="row mt15">
    <div class="col-md-8">
      <form>
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control input-sm" placeholder="Your original URL here" />
            <span class="input-group-btn">
              <button class="btn btn-success btn-sm" type="button">SHORTEN URL</button>
            </span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

