<script type="text/ng-template" id="modals/link.html">
  <div class="modal-header">
    <h4 class="modal-title">Your short URL</h4>
  </div>
  <div class="modal-body short-link text-center">
    <code><%= host %>/{{link.short_url_code}}</code>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-sm copy" data-clipboard-text="<%= base_url %>/{{link.short_url_code}}">COPY</button>
    <button class="btn btn-success btn-sm" ng-click="done()">DONE</button>
  </div>
</script>
