<h2 class="text-success mt40">Simplify your links</h2>
<div class="row mt15">
  <div class="col-md-8">
    <%= render partial: 'templates/links/form' %>
  </div>
</div>

<%= render partial: 'templates/modals/link' %>
