<h3 class="mt40 mln28 text-bold">
  <a href="javascript:history.back()"><i class="fa fa-angle-double-left"></i></a> Analytics for <a target="_blank" href="<%= base_url %>/{{link.short_url_code}}"><%= host %>/{{link.short_url_code}}</a>
</h3>
<p>Created <span am-time-ago="link.created_at"></span></p>
<p>Original URL: <a target="_blank" href="{{link.original_url | url}}">{{link.original_url}} <i class="fa fa-external-link"></i></a></p>
<p>All Time Total Visits: {{link.visits}}</p>

<table class="table table-hover mt40">
  <thead>
    <tr>
      <th>REMOTE IP</th>
      <th>VISITED</th>
      <th>BROWSER</th>
      <th>PLATFORM</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-hide="visits.length">
      <td colspan="4" class="text-center"><i ng-bind="emptyTxt"></i></td>
    </tr>
    <tr ng-repeat="visit in visits">
      <td ng-bind="visit.remote_ip"></td>
      <td am-time-ago="visit.created_at"></td>
      <td ng-bind="visit.browser_name"></td>
      <td ng-bind="visit.platform_name || visit.device_name"></td>
      <td><span class="label label-success pointer" ng-click="showModal(visit)">More Info</span></td>
    </tr>
  </tbody>
</table>
<%= render partial: 'commons/pagination' %>

<div class="clearfix"></div>

<hr/>

<div class="mt40 mb60">
  <h3 class="form-inline">
    {{chartTotalVisits || 0}} visits {{timeframe}}
    <div class="form-group pull-right">
      <select class="form-control input-sm" ng-model="timeframe" ng-options='item.value as item.label for item in timeframeOpts' ng-change="loadChart()"></select>
    </div>
  </h3>
  <div class="row mt40">
    <div class="col-sm-12" style="height: 250px;">
      <p class="text-center" ng-show="showChartLoader"><i>loading...</i></p>
      <canvas ng-hide="showChartLoader" class="chart chart-line" chart-data="chartData" chart-labels="chartLabels" chart-options="chartOptions">
      </canvas>
    </div>
  </div>
</div>

<%= render partial: 'templates/modals/visit' %>
